appdirs==1.4.2
click==6.7
DateTime==4.1.1
fiql-parser==0.15
Flask==0.12
Flask-Cors==3.0.2
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
netifaces==0.10.5
packaging==16.8
psycopg2==2.7
pyparsing==2.1.10
pytz==2016.10
six==1.10.0
uuid==1.30
Werkzeug==0.11.15
zope.interface==4.3.3
